/build-android/*
/build-ios/*
Library/
Temp/
Obj/
obj/
Build/
Builds/
Logs/
UserSettings/
.vs/
.idea/
*.csproj
*.sln
*.unityproj
*.pidb
*.booproj
*.svd
*.user
*.userprefs
*.db
*.opendb
*.VC.db
*.pdb
*.mdb
*.apk
*.aab
*.ipa
*.unitypackage
build/
BuildArtifacts/
CrashReports/
